.navbar {
  padding: 10px;
  background: slateblue;
  display: flex;
  width: 100%;
  align-items: center;
  height: 100px;
}

.logo {
  width: 90px;
}

ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 24px;
  margin-left: 26px;
}

.navbar-menu a {
  color: white;
  text-decoration: none
}
