.button-container {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  float: right !important;
  padding: 20px;
}

mat-dialog-actions {
  display: inline;
}

.error-messages {
  height: 400px;
  overflow-y: auto;
  margin-bottom: 16px;
  padding: 20px;
}
